{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
<div class="container orders-page">
    <h2>Мои заказы</h2>

    <!-- Обычные заказы -->
    {% if orders %}
    <div class="section-title">Заказы</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Сумма</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>
                            <span class="badge-status badge-{{ order.status }}">
                                {{ order.status }}
                            </span>
                </td>
                <td>{{ order.total_price }} ₽</td>
                <td><a href="{{ url_for('auth.order_detail', order_id=order.id) }}" hx-boost="false"
                       class="btn btn-sm btn-outline">Подробнее</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <!-- Индивидуальные заявки -->
    {% if custom_orders %}
    <div class="section-title">Индивидуальные заявки</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Статус</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for custom in custom_orders %}
            <tr>
                <td>#{{ custom.id }}</td>
                <td>{{ custom.created_at.strftime('%d.%m.%Y %H:%M') }}</td>
                <td>
                            <span class="badge-status badge-{{ custom.status }}">
                                {{ custom.status }}
                            </span>
                </td>
                <td>{{ custom.description|truncate(50) }}</td>
                <td><a href="{{ url_for('auth.custom_order_detail', order_id=custom.id) }}" hx-boost="false"
                       class="btn btn-sm btn-outline">Подробнее</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if not orders and not custom_orders %}
    <p class="no-orders">У вас пока нет заказов.</p>
    {% endif %}
    <a href="{{ url_for('auth.account') }}" class="btn-back">← Назад в личный кабинет</a>
</div>
{% endblock %}