{% extends 'base.html' %}
{% block title %}Профиль{% endblock %}
{% block content %}
<div class="container">
    <h2>Редактирование профиля</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.full_name.label }}<br>
            {{ form.full_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone.label }}<br>
            {{ form.phone(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address.label }}<br>
            {{ form.address(class="form-control") }}
        </div>
        <button type="submit" class="btn">Сохранить</button>
    </form>
</div>
{% endblock %}