{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <h2 class="auth-title">Установка нового пароля</h2>
        <form method="POST" hx-boost="false">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Новый пароль") }}
                {% for error in form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control", placeholder="Повторите пароль") }}
                {% for error in form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-leather">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}