# Виртуальное окружение
venv/
env/
.venv/

# Кэш Python
__pycache__/
*.py[cod]
*.pyo

# Базы данных (SQLite)
*.db
*.sqlite3

# Логи
*.log

# Настройки окружения (секреты)
.env
.env.*
!.env.example

# Файлы загрузок (если не хотите хранить большие изображения)
static/uploads/*
!static/uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# Файлы Flask-Migrate (если не хотите хранить историю миграций)
migrations/